{% extends "base.html" %}

{% block title %}Mystery Boxes · How it works{% endblock %}

{% block content %}
<div class="card">
  <header>
    <h1>How It Works</h1>
    <p>JUST CLICK ON A BOX.</p>
  </header>

  <main>
    <p>
      <center>• The grid is 3×3, so there are 9 boxes.<br>
      <center>• When you click a box, you win or lose<br>
      <center>• If you’re wrong, you get a roast<br>
      <center>• If you’re right, well no one cares.
    </p>
    <p>
      
    </p>
  </main>
</div>
{% endblock %}
